{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{ if eq ":fr:" .Language.LanguageName}}
    {{ $month_names := slice "janvier" "février" "mars" "avril" "mai" "juin" "juillet" "août" "septembre" "octobre" "novembre" "décembre" }}
    {{ $month := sub .Date.Month 1 }}
    {{ .Date.Day }}{{ if eq .Date.Day 1 }}er{{end}}&nbsp;{{ index $month_names $month }} {{ .Date.Year }}
    {{"· "}}
    {{- else }}
    {{- $scratch.Add "meta" (slice (.Date.Format (default "January 2, 2006"))) }}
    {{- end }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%s min" .ReadingTime))) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}
