{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{ if eq ":fr:" .Language.LanguageName}}
    {{- $scratch.Add "meta" (slice (.Date.Format (default "02/01/2006"))) }}
    {{- else }}
    {{- $scratch.Add "meta" (slice (.Date.Format (default "01/02/2006"))) }}
    {{- end }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%s min" .ReadingTime))) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}
